namespace: default

ingress: traefik

# accessible via the Host IP on port 80
addLonghornIngress: false

# used when setting up ingress with TLS, uses letsencrypt staging server
isTest: true

config:
  timezone: "Asia/Kolkata"

  enablePihole: true
  piholeStorage: 5Gi
  piholeWebPassword: "password"
  piholeDNSPort: 53
  piholeAdminPort: 8080
  piholePVC: pihole-pvc
  piholePVCDNSMasq: pihole-pvc-dnsmasq

  enableMiniflux: true
  postgresMinifluxPassword: "password"
  postgresMinifluxStorage: 10Gi
  postgresMinifluxPVC: postgres-miniflux-pvc

  minifluxAdmin: "admin"
  minifluxAdminPassword: "password"
  minifluxHostname: "miniflux.example.com"

  # if correct values are not set, traefik will generate a default certificate
  traefikEmail: email@example.com
  traefikDNSProvider: cloudflare
  traefikResolvers: 1.1.1.1:53,1.0.0.1:53
  traefikAPIKey: "1234567890"

  enableExcalidraw: true
  excalidrawHostname: "excalidraw.example.com"

  enableQbittorrent: true
  qbittorrentPVC: qbittorrent-pvc
  qbittorrentStorage: 100Mi
  qbittorrentHostname: "qb.example.com"

  enableFlame: true
  flamePVC: flame-pvc
  flameStorage: 100Mi
  flameHostname: "flame.example.com"
  flamePassword: "password"

  # samba share for multimedia
  mediaVolume: media-pv
  mediaStorage: 5000Gi
  # directory containing all media
  mediaSubDir: media
  # sub directory for movies, tvshows and music
  mediaMoviesDir: Movies
  mediaSeriesDir: Series
  mediaMusicDir: Music
  sambaShare: "//sambashare/share"
  sambaUsername: username
  sambaPassword: password

  enableJellyfin: true
  jellyfinPVC: jellyfin-pvc
  jellyfinStorage: 10Gi
  jellyfinHostname: "jellyfin.example.com"

  enablePrometheus: true
  prometheusNamespace: monitoring
  prometheusPVC: prometheus-pvc
  prometheusStorage: 10Gi

  enableGrafana: true
  grafanaPVC: grafana-pvc
  grafanaStorage: 1Gi
  grafanaHostname: "grafana.example.com"


images:
  pihole:
    name: pihole/pihole
    tag: latest
  postgresMiniflux:
    name: postgres
    tag: 15
  miniflux:
    name: miniflux/miniflux
    tag: latest
  excalidraw:
    name: excalidraw/excalidraw
    tag: latest
  qbittorrent:
    name: linuxserver/qbittorrent
    tag: latest
  flame:
    name: pawelmalak/flame
    tag: latest
  jellyfin:
    name: linuxserver/jellyfin
    tag: latest
  prometheus:
    name: prom/prometheus
    tag: latest
  grafana:
    name: grafana/grafana
    tag: 9.5.8